Package: com.skrypton.ytumg
Name: YTUMG
Version: 0.0.1
Architecture: iphoneos-arm
Description: Yet another Youtube tweak. Can you guess what the last three letters stand for?
Maintainer: skrypton
Author: skrypton
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
